<h1>Listing vegetables</h1>

<table>
  <tr>
    <th>Beans</th>
    <th>Onion</th>
    <th>Potato</th>
    <th>Chive</th>
    <th>Tomato</th>
    <th>Dill</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @vegetables.each do |vegetable| %>
  <tr>
    <td><%= vegetable.beans %></td>
    <td><%= vegetable.onion %></td>
    <td><%= vegetable.potato %></td>
    <td><%= vegetable.chive %></td>
    <td><%= vegetable.tomato %></td>
    <td><%= vegetable.dill %></td>
    <td><%= link_to 'Show', vegetable %></td>
    <td><%= link_to 'Edit', edit_vegetable_path(vegetable) %></td>
    <td><%= link_to 'Destroy', vegetable, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />


