<p id="notice"><%= notice %></p>

<p>
  <b>Beans:</b>
  <%= @vegetable.beans %>
</p>

<p>
  <b>Onion:</b>
  <%= @vegetable.onion %>
</p>

<p>
  <b>Potato:</b>
  <%= @vegetable.potato %>
</p>

<p>
  <b>Chive:</b>
  <%= @vegetable.chive %>
</p>

<p>
  <b>Tomato:</b>
  <%= @vegetable.tomato %>
</p>

<p>
  <b>Dill:</b>
  <%= @vegetable.dill %>
</p>


<%= link_to 'Edit', edit_vegetable_path(@vegetable) %> |
<%= link_to 'Back', vegetables_path %>
